VITE_SYNBIOSUITE_API="http://127.0.0.1:5003"
# VITE_SYNBIOSUITE_API="https://synbiosuite-api.victoriouswater-326a4bf8.westcentralus.azurecontainerapps.io"
VITE_SEQIMPROVE_URL="https://seqimprove.synbiohub.org/"
VITE_SBOL_CANVAS_URL="https://sbolcanvas.org"
VITE_IBIOSIM_API="https://ibiosimconnector-api.azurewebsites.net/api/orchestrators/analyze"
