Flask
flask_cors
requests
numpy==1.26.2
pandas>=1.5.3
packaging==25.0
tricahue @ git+https://github.com/MyersResearchGroup/Tricahue/@dev
sbol2build
flask_swagger_ui
xlsxwriter
pudupy @ git+https://github.com/MyersResearchGroup/PUDU
