Flask
flask_cors
requests
numpy==1.26.2
pandas==2.3.3
packaging==21.3
setuptools<81
synbio-buildcompiler==0.0.1a3
tricahue @ git+https://github.com/DRAGGON-Lab/Tricahue.git@774f33f9e45284d4b3bcd1851cc2c9d14300dd5b
flask_swagger_ui
xlsxwriter
